.header{
	height: 60px;
	width: 100vw;
	background-color: crimson;
	display: flex;
	justify-content: space-between;
	.header_logo{
		margin: auto 20px;
	}
	.header_input{
		display: flex;
		div{
			height: 40px;
			width: 80px;
			background-color: teal;
			margin: auto 20px;
		}
		input{
			height: 40px;
			border: 0;
			outline: none;
			margin: auto;
		}
	}
}